h1     	{ 
         color:red;
		 background-color:black;
		 border:white solid 3px;
		}
	   
p		{
		 color:blue;
		}
img 	{
	  
}
/* let's pick courier because its fixed width. */		
a		{
			font-family:Courier;
		}
		
ul {
			
		}